body {
  background: #EDF1F4;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif;
  font-size: 16px;
  color: #444;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#container {
  width: 400px;
  padding: 0px;
  background: #FEFEFE;
  margin: 0 auto;
  border: 1px solid #C4CDDB;
  border-top-color: #D3DBDE;
  border-bottom-color: #BFC9DC;
  box-shadow: 0 1px 1px #CCC;
  border-radius: 5px;
  position: relative;
}
